.splash {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5em;

  & > div {
    padding: 0.5em 0.5em 0.3em;
    border-radius: 1em;
    background-color: white;
    box-shadow: 0 0 1em white, 0 0 1em white, 0 0 1em white, 0 0 1em white, 0 0 1em white;
  }

  & img {
    margin-bottom: 0.5em;
  }
  & p {
    margin: 0;
  }
}

.roster {
  width: 800px;
  max-width: 100%;
  margin: 2em auto 5em;
  border: 20px solid transparent;
  border-image: url("../assets/border.png") 20 round;
  padding: 0 1em;
  background-color: white;

  & h1 {
    font-size: 1.2em;
    line-height: 1;
    text-align: center;
    margin: 0.5em 0 0;
  }

  & ul {
    list-style: none;
    margin: 1em;
    & > li span {
      vertical-align: middle;
    }
  }
}

.job-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1em;
  background-image: url("../assets/jobs.png");
  background-size: cover;
  image-rendering: pixelated;
  margin-right: 0.5em;

  &.DRK { background-position: 0 0; }
  &.GNB { background-position: 0 -1em; }
  &.AST { background-position: 0 -2em; }
  &.SCH { background-position: 0 -3em; }
  &.DRG { background-position: 0 -4em; }
  &.NIN { background-position: 0 -5em; }
  &.DNC { background-position: 0 -6em; }
  &.SMN { background-position: 0 -7em; }
}
