.se6 {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  font-size: 20vw;
  line-height: 80vh;
  cursor: pointer;
}

.dadaluma {
  position: fixed;
  opacity: 0;

  &.run-program {
    animation: run-program 2.5s;
  }

  &.run-program-flipped {
    transform: scaleX(-1);
    animation: run-program-flipped 2.5s;
  }
}

@keyframes run-program {
  0% { top: 15%; left: 15%; opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { top: 70%; left: 70%; opacity: 0; }
}

@keyframes run-program-flipped {
  0% { top: 15%; right: 15%; opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { top: 70%; right: 70%; opacity: 0; }
}
